@charset "UTF-8";
/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=null)
    - line-height이나 letter-spacing까지 customizing
    - 컴포넌트 요소에서만 사용(분리된 scss 파일들)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontDefault(f-size, f-weight, color: default=null)
    - 폰트 사이즈에 따라 line-height, letter-spacing을 폰트 가이드 기준으로 부여
    - sub.scss에서 사용(디자인 요소들)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - btnHoverStyler(글자색, 보더색, 배경색, 그라데이션1, 그라데이션2)
    - 배경색이 있는 버튼(btn-solid)이라면 hover시 기존 배경색 + #000000 35%로 적용
    - 4,5번째 인자는 3번째 인자가 'gradation'인 경우에만 적용됨
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - textEllipsis(width)
    - parameter Width
    - 텍스트 넘치는 경우 ... 처리 
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Font
-------------------------------------------------------------------*/
/* Font-family */
.ff-noto {
  font-family: "Noto Sans KR" !important;
}

.ff-roboto {
  font-family: "Roboto" !important;
  letter-spacing: normal !important;
}

/* Heading */
/*
h1 { @include fontStyler(48px, bold, 1.25, -2.4px, $color-1d) }
h2 { @include fontStyler(40px, bold, 1.38, -2px, $color-1d) }
h3 { @include fontStyler(32px, 500, 1.5, -1.6px, $color-1d) }
h4 { @include fontStyler(24px, 500, 1.5, -1.2px, $color-1d) }
h5 { @include fontStyler(20px, 500, 1.5, -0.8px, $color-41) }
h6 { @include fontStyler(18px, 500, 1.56, -0.36px, $color-41) }
*/
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.5px;
  color: #1D1D1D;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.5px;
  color: #1D1D1D;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #1D1D1D;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5px;
  color: #1D1D1D;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5px;
  color: #1D1D1D;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #1D1D1D;
}

h1.ff-roboto, h2.ff-roboto, h3.ff-roboto, h4.ff-roboto, h5.ff-roboto, h6.ff-roboto {
  font-weight: bold;
}

h1.head-line, h2.head-line, h3.head-line, h4.head-line, h5.head-line, h6.head-line {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  border-bottom: 2px solid #414141;
}

/* Body */
/*
.fs-18 { @include fontStyler(18px, normal, 1.56, -0.36px, $color-00) }
.fs-16 { @include fontStyler(16px, normal, 1.56, -0.32px, $color-00) }
.fs-15 { @include fontStyler(15px, normal, 1.6, -0.3px, $color-00) }
.fs-14 { @include fontStyler(14px, normal, 1.57, -0.28px, $color-00) }
.fs-12 { @include fontStyler(12px, normal, 1.67, -0.24px, $color-00) }
*/
.fs-18 {
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #414141;
}

.fs-16 {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #414141;
}

.fs-15 {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0px;
  color: #414141;
}

.fs-14 {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #414141;
}

.fs-12 {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #414141;
}

/* Button */
/*
.fs-btn-19 { @include fontStyler(19px, normal, 1.58, -0.38px, $color-00) }
.fs-btn-16 { @include fontStyler(16px, normal, 1.56, -0.32px, $color-00) }
.fs-btn-14 { @include fontStyler(14px, normal, 1.57, -0.28px, $color-00) }
*/
.fs-btn-19 {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #414141;
}

.fs-btn-16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #414141;
}

.fs-btn-14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #414141;
}

.fs-18.ff-roboto, .fs-15.ff-roboto, .fs-16.ff-roboto, .fs-14.ff-roboto, .fs-12.ff-roboto,
.fs-btn-19.ff-roboto, .fs-btn-16.ff-roboto, .fs-btn-14.ff-roboto {
  font-weight: normal;
}

/* Font-weight */
.fw-100 {
  font-weight: 100 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-normal {
  font-weight: normal !important;
}

.fw-bold {
  font-weight: bold !important;
}

.under {
  text-decoration: underline;
}

/* 스타일가이드 양식 */
body::after {
  content: none !important;
}

main {
  padding: 20px;
}

hr {
  margin: 50px 0;
}

ul.list-con > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

ul.list-con > li p.label {
  width: 100px;
}

ul.list-con2 > li {
  margin-bottom: 10px;
}

.flex-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-con > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section > h2 {
  margin-bottom: 30px;
}

section > p {
  margin-top: 20px;
}

/* 패턴 가이드 layout */
.apply-wrap {
  position: relative;
}

.apply-wrap .popup-body .form-sec {
  margin-bottom: 25px;
}

.flex-between-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.flex-between-wrap > .title-wrap {
  min-width: 200px;
  margin-right: 40px;
}

.flex-between-wrap > .cont-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.title-content-wrap {
  margin-top: 100px;
}

.title-content-wrap:first-child {
  margin-top: 0;
}

.title-content-wrap > .cont-wrap {
  max-width: 1080px;
  margin: 50px auto 0;
}

.cont-wrap.mw580 {
  max-width: 580px;
}

.cont-wrap.mw710 {
  max-width: 710px;
}

.cont-wrap.mw780 {
  max-width: 780px;
}

.cont-wrap.mw1312 {
  max-width: 1312px;
}

.desc-con {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: normal;
  color: #000000;
}

.seperate-line {
  display: block;
  width: calc(100% + 80px);
  height: 10px;
  margin: 40px 0 40px -40px;
  border: none;
  background-color: #F7F7F7;
}

.seperate-line.margin-none {
  margin: 0 0 0 -40px;
}

.popup-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 24px 24px 23.5px 40px;
  border-bottom: 1px solid #ddd;
}

.popup-head .close-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0;
}

.popup-head .close-btn > * {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
}

.popup-head .close-btn > *:first-child {
  margin-left: 0;
}

.popup-head .close-btn .log {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: -0.43px;
  color: #868686;
}

.popup-head .close-btn img {
  width: 32px;
  height: 32px;
}

.popup-body .popup-cont {
  max-height: none;
  padding: 30px 40px 0;
  overflow-y: auto;
}

.popup-body *::-webkit-scrollbar {
  width: 13px;
}

.popup-body *::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 13px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.popup-body *::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.popup-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 26px 40px 24.5px;
}

.popup-foot .right-con > * {
  margin-left: 5px;
}

.popup-foot .right-con > *:first-child {
  margin-left: 0;
}

.content-wrap.small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  min-height: 227px;
  border: 1px solid #e6e6e6;
}

.content-wrap.small .popup-head {
  height: 55px;
  padding: 15px 15px 8px 31px;
  border: none;
}

.content-wrap.small .popup-head .close-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}

.content-wrap.small .popup-head .popup-title + .close-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.content-wrap.small .popup-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 78px;
  padding: 0 31px;
  margin: 56px 0 23px;
  text-align: center;
}

.content-wrap.small .popup-body > * {
  display: inline-block;
}

.content-wrap.small .popup-body .popup-cont {
  padding: 0;
}

.content-wrap.small .popup-body[class*=-center] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrap.small .popup-body[class*=-center] > .popup-cont {
  width: 100%;
}

.content-wrap.small .popup-body.text-center {
  min-height: 175px;
  z-index: -1;
  margin-top: -28px !important;
}

.content-wrap.small .popup-body.message-center {
  min-height: 128px;
  margin-top: 8px !important;
}

.content-wrap.small .popup-head + .popup-body {
  margin-top: 0;
}

.content-wrap.small .popup-foot {
  margin: 0 31px 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-wrap.small .popup-foot .center-con {
  display: inline-block;
  font-size: 0;
}

.content-wrap.small .popup-foot .center-con > * {
  margin-left: 8px;
}

.content-wrap.small .popup-foot .center-con > *:first-child {
  margin-left: 0;
}

.content-wrap [class*=icon-] {
  display: inline-block;
  padding-left: 36px;
  text-align: left;
  line-height: 32px;
}

.content-wrap .icon-confirm {
  background: url("../img/ico_alert_check.svg") no-repeat left top/32px 32px;
}

.content-wrap .icon-alert {
  background: url("../img/ico_alert_warning.svg") no-repeat left top/32px 32px;
  padding-left: 40px;
}

.content-wrap .icon-noti {
  background: url("../img/ico_alert_noti.svg") no-repeat left top/32px 32px;
}

/* Toast Popup */
.toast-wrap {
  display: none;
  width: 560px;
  position: fixed;
  left: 50%;
  bottom: 50px;
  margin-left: -280px;
}

.toast-wrap .toast-con {
  width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.45);
}

.toast-wrap .toast-con p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.16;
  color: #FFFFFF;
}

.toast-wrap.active {
  display: block;
}
/*# sourceMappingURL=guide.css.map */