@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-ExtraLight.woff') format('woff'),
    url('../fonts/NunitoSans/NunitoSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-Light.woff') format('woff'),
    url('../fonts/NunitoSans/NunitoSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-Regular.woff') format('woff'),
    url('../fonts/NunitoSans/NunitoSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-SemiBold.woff') format('woff'),
    url('../fonts/NunitoSans/NunitoSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-Bold.woff') format('woff'),
    url('../fonts/NunitoSans/NunitoSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
