/* variables */
:root {
    /* color */
    --color-primary: #364fc7;
    --color-primary-tint01: #ebedf9;
    --color-primary-tint02: #d7dcf4;
    --color-primary-tint03: #afb9e9;
    --color-primary-tint04: #8695dd;
    --color-primary-tint05: #5e72d2;
    --color-primary-tint06: #4a61cd;
    --color-primary-shade01: #3147b3;
    --color-primary-shade02: #2b3f9f;
    --color-primary-shade03: #26378b;
    --color-primary-shade04: #202f77;
    --color-primary-shade05: #1b2864;
    --color-primary-shade06: #162050;
    --color-ui-black: #000000;
    --color-ui-ui01: #1f2533;
    --color-ui-ui02: #4b505b;
    --color-ui-ui03: #61666f;
    --color-ui-ui04: #787c84;
    --color-ui-ui05: #8e9198;
    --color-ui-ui06: #a5a7ad;
    --color-ui-ui07: #bbbdc1;
    --color-ui-ui08: #d2d3d6;
    --color-ui-ui09: #dddee0;
    --color-ui-ui10: #e8e8ea;
    --color-ui-ui11: #f3f4f4;
    --color-ui-ui12: #f7f7f7;
    --color-ui-white: #ffffff;
    --success: #23d89e;
    --error: #fc434e;
    --default: #d2d3d6;
    --processing: #5fc8ff;
    --warning: #ff8c36;
    --notification: #ffd035;

    --color-ui-sub-icon01: rgba(31, 37, 51, 0.6);
    --color-ui-sub-icon01-hover: #1f2533;
    --color-ui-navi-bg: rgba(54, 79, 199, 0.04);
    --color-ui-navi-bg-hover: rgba(54, 79, 199, 0.12);
}
/* 첫진입 */
.intro-box {display:none !important;}
.disabled .intro-box {display:flex !important;}
.disabled .intro-box.card-list-intro {display:block !important;}
/* 폼 - 버튼 */
button.btn-calc {
    display:flex; align-items:center; justify-content:center;
    height: 24px;
    min-width: 70px;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 3px;
}
button.btn-calc.btn-default {
    background-color: var(--color-ui-white);
    border: 1px solid var(--color-ui-ui06);
    color: var(--color-ui-ui03);
}
button.btn-calc.btn-default.xsmall {
    min-width:32px;
}
button.btn-calc.btn-default:hover {
    background-color: rgba(97, 102, 111, 0.2);
}
button.btn-calc.btn-default:active {
    background-color: rgba(97, 102, 111, 0.4);
}
button.btn-calc.btn-default:disabled {
    border-color: var(--ui-07);
}
button.btn-calc.btn-primary {
    background-color: var(--color-ui-white);
    border: 1px solid var(--ui-06);
}
button.btn-calc.btn-primary:hover {
    background-color: var(--ui-10);
}
button.btn-calc.btn-primary:active {
    background-color: rgba(54, 79, 199, 0.4);
}
button.btn-calc.btn-primary:disabled {
    color:var(--ui-07);
    border-color: var(--ui-07);
}
button.btn-calc.btn-solid {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-ui-white);
    font-weight: 700;
}
button.btn-calc.btn-solid:hover {
    background-color: var(--color-primary-shade02);
    border-color: var(--color-primary-shade02);
}
button.btn-calc.btn-solid:active {
    background-color: var(--color-primary-shade03);
    border-color: var(--color-primary-shade03);
}
i.ico-reset {display:inline-block; width:16px; height:16px; line-height:24px; background:url("../images/icon/ic_refresh.png") no-repeat center center; background-size:16px}
i.ico-down {display:inline-block; width:16px; height:16px; line-height:24px; background:url("../images/icon/ic_download_b_24.png") no-repeat center center; background-size:16px}

.switch-box {
    display: flex;
}
.switch-wrapper {
    position: relative;
}
.switch-wrapper input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
}
.switch-wrapper input[type="radio"] + label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    min-width: 60px;
    height: 32px;
    font-size: 14px;
    padding: 0 8px;
    border: 1px solid #a5a5a5;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
.switch-wrapper input[type="radio"]:checked + label {
    background-color: #ebedf9;
    border-color: #364fc7;
    color: #364fc7;
    position: relative;
    z-index: 1;
}
.switch-wrapper:first-child input[type="radio"] + label {
    border-radius: 3px 0 0 3px;
}
.switch-wrapper:last-child input[type="radio"] + label {
    border-radius: 0 3px 3px 0;
}
.switch-wrapper + .switch-wrapper {
    margin-left: -1px;
}
/* 폼 - 라디오 */
.radio-container {
    display: flex;
}
.radio-wrapper {
    display: flex;
    align-items: center;
    height: 32px;
}
.calc-form-group .radio-info {color:#767676;}
.radio-wrapper + .radio-wrapper {
    margin-left: 16px;
}
.radio-wrapper:first-child {
    margin-left: 0;
}
.radio-wrapper input[type=radio] {
    margin: 0;
    padding: 0;
}
.radio-wrapper label {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
.radio-wrapper label:after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--color-ui-ui06);
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.radio-wrapper label:hover:after {
    border-color: var(--color-primary);
}
.radio-wrapper input[type=radio]:checked + label:after {
    border-color: var(--color-primary);
}
.radio-wrapper input[type=radio]:checked + label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: absolute;
    top: 3px;
    left: 3px;
    cursor: pointer;
    z-index: 1;
}
/* 라벨 */
[class*='calc-label'] {
    font-size: 14px;
    line-height: 21px;
}
[class*='calc-label'].medium {
    font-size: 14px;
    line-height: 24px;
    color:var(--ui-03);
}
[class*='calc-label'].large,
[class*='calc-label'].large span {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
[class*='calc-label'].large span {
    color:var(--primary-tint-06);
}
[class*='calc-label'].xlarge {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
[class*='calc-label'].info {
    color: var(--color-ui-ui04);
}
[class*='calc-label'].price,
[class*='calc-label'].price span {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: var(--color-ui-ui12);
}
/* 요금계산기 */
.calulator {background-color:var(--ui-12);}
.calc-container {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0;
    height: 100%;
    min-height: 600px;
    font-size: 14px;
    line-height: 21px;
}
.calc-container.fixed {
    /* position:fixed;
    top: var(--header-height-sub);
    left: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: none;
    background-color: var(--ui-12);
    transform: translate(-50%, 0); */
}
.calc-label.unit {display:inline-block; margin-left:5px;}
.calc-container.fixed .calc-navi,
.calc-container.fixed .calc-section {position:fixed; top: calc(var(--header-height-sub) + 20px); z-index:200; max-width:350px; height:968px;}
.calc-container.fixed .calc-navi {left:calc(50% - 640px);}
.calc-container.fixed .calc-section {right:calc(50% - 640px);}
.calc-container.fixed .calc-card-view {margin-left:0;}
.calc-container.fixed .card-top-info {width: 690px; position: fixed; top: calc(var(--header-height-sub)); left: calc(50% - 420px); z-index:200; padding:20px; background-color:var(--ui-12);}
.calc-container.fixed .card-view-content {padding-top:24px; max-width:660px; transform:translateX(240px);}
.calc-edit {
    display: flex;
    width: 900px;
}
/* 요금계산기 - 네비게이션 - PC */
.calc-navi {
    flex: 0 0 auto;
    background: var(--ui-white);
    width: 220px;
    /* height: 100%; */
    max-height:968px;
    padding: 20px;
    border:1px solid var(--ui-10);
    border-radius: 8px;
}
/* 요금계산기 - 네비게이션 - 검색 */
.calc-navi .input-box1 {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--ui-10);
    margin-bottom: 8px;
}
.calc-navi .input-box1 input {
    margin-top: 12px;
    padding-right: 34px;
}
.calc-navi .input-box1 input:focus {
    padding-right: 54px;
}
.calc-navi .input-box1 .search-field-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 28px;
    height: 32px;
    font-size: 16px;
    line-height: 21px;
    position: absolute;
    top: calc(50% - 4px);
    right: 10px;
    user-select: none;
}
.calc-navi .input-box1 .search-field-icon-wrap .icon-search,
.calc-navi .input-box1 .search-field-icon-wrap .icon-clear {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    cursor: pointer;
    fill: var(--color-ui-sub-icon01);
}
.calc-navi .input-box1 .search-field-icon-wrap .icon-search:hover,
.calc-navi .input-box1 .search-field-icon-wrap .icon-clear:hover {
    fill: var(--color-ui-sub-icon01-hover);
}
/* 요금계산기 - 네비게이션 - 메뉴 */
.calc-navi-item {
    cursor: pointer;
}
.calc-navi-item-text {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    /* height: 40px; */
    padding: 10px 10px 10px 0;
}
.calc-navi-item-text:hover,
.calc-navi-search-item:hover {
    background-color: var(--color-ui-navi-bg);
}
.calc-navi-item-text:active,
.calc-navi-search-item:active {
    background-color: var(--color-ui-navi-bg-hover);
}
.calc-navi-item-text .calc-label {
    width: 100%;
    line-height: 20px;
}
.calc-navi-item-text .icon-arrow_down {
    fill: var(--color-ui-sub-icon01);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
.calc-navi-items2 {
    display: none;
    padding-bottom: 16px;
}
.calc-navi-items2 .calc-navi-item-text .calc-label{color:var(--ui-03);}
.calc-navi-items2 .calc-navi-item-text {
    height: 36px;
    padding: 0 10px 0 12px;
    cursor: pointer;
}
.calc-navi-item-text .icon-add-box {
    display: none;
    width:16px; height:16px; background:url("../images/icon/ic_add_b_16.png") no-repeat center center; background-size:16px;
}
.calc-navi-items2 .calc-navi-item-text:hover .icon-add-box {
    display: flex;
}
.calc-navi-search-item {
    padding: 6px 12px;
    cursor: pointer;
}
.calc-navi-search-item .accent {
    color: var(--color-primary-tint06);
}
.calc-navi-search-item.no-result {
    pointer-events: none;
}
.calc-navi-item.active .calc-label {color:var(--primary-color);}
.calc-navi-item.active .calc-label {color:var(--primary-color);}
.calc-navi-item.active .calc-navi-items2 {
    display: block;
}
.calc-navi-item.active .calc-navi-item-text .icon-arrow_down {
    fill: var(--primary-color);
    transform:rotate(180deg);
}
/* 요금계산기 - 네비게이션 - 모바일 */
.calc-navi-mobile-wrap {
    padding: 20px 20px 32px;
    background-color: var(--ui-white);
}
.calc-navi-mobile {
    flex: 0 0 auto;
    margin-top: 12px;
    width: 100%;
    height: 242px;
    padding: 0;
    border: 1px solid var(--color-ui-ui08);
    border-radius: 8px;
}
.calc-navi-mobile-list {
    display: flex;
    flex-direction: row;
}
.calc-navi-mobile-items {
    width: 50%;
    height: 240px;
    border-right: 1px solid var(--color-ui-ui08);
    overflow-y: auto;
}
.calc-navi-mobile-items::-webkit-scrollbar,
.calc-navi-mobile-items2::-webkit-scrollbar {
    display: none;
}
.calc-navi-mobile-items2 {
    display: none;
    width: calc(50% - 1px);
    height: 240px;
    overflow-y: auto;
}
/* 요금계산기 - 네비게이션 - 메뉴 */
.calc-navi-mobile-item .calc-navi-item-text .icon-arrow_down {
    transform: rotate(-90deg);
}
.calc-navi-mobile-items2 {
    padding-bottom: 0;
}
.calc-navi-mobile-items .calc-navi-item-text,
.calc-navi-mobile-items2 .calc-navi-item-text {
    padding-left: 16px;
}
.calc-navi-item-text .icon-add-box {
    /* display: none; */
    fill: var(--color-ui-sub-icon01);
}
.calc-navi-mobile-items2 .calc-navi-item-text:hover .icon-add-box {
    display: flex;
}
.calc-navi-mobile-item.active .calc-navi-items2 {
    display: block;
}
.calc-navi-mobile-item.active .calc-navi-item-text .icon-arrow_down {
    transform: 0;
}
/* 요금계산기 - 카드뷰 */
.calc-card-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
    min-width: 660px;
    height: 100%;
    min-height: 968px;
}
.disabled button {
    border-color: var(--ui-07) !important;
    color: var(--ui-07) !important;
}
.disabled button .ico-reset {
    background: url("../images/icon/ic_refresh_disabled.png") no-repeat center center;
    background-size: 16px;
} 
.calc-card-view .view-empty {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    font-weight: 500;
    color: var(--color-primary);
    opacity: 0.6;
}
.calc-card-view .view-empty .icon-empty {
    font-size: 40px;
    fill: var(--color-primary);
    opacity: 0.2;
    margin-bottom: 10px;
}
.calc-card-view .card-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.calc-card-view .card-top-info .total span {
    font-weight: 700;
    color: var(--color-primary);
    margin-left: 4px;
}
.card-view-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-box img {
    width: 156px;
    margin: 0 auto;
}
.intro-box p {
    margin-top: 32px;
    color: var(--ui-05);
    text-align: center;
}
.intro-box.card-list-intro {
    justify-content: flex-start;
    padding-top: 150px;
}
.intro-box.card-list-intro img {
    width: 64px;
}
.intro-box.card-list-intro p {
    margin-top: 12px;
}
.card-view-content .card {border: 1px solid var(--ui-10); border-radius: 8px; margin-bottom: 20px; background-color:var(--ui-white); box-shadow: 0 3px 3px 0 rgba(22, 31, 79, 0.14);}
.card-view-content .card.accent {
    border-color: var(--primary-color);
}
.card-view-content .card .title-section {
    display: flex;
    justify-content: space-between;
}
.card-view-content .card .title-section .icon-section {
    display: flex;
}
.card-view-content .card .title-section .icon-section [class*="icon-"] {
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all .2s;
    opacity: 0.6;
}
.card-view-content .card .title-section .icon-section [class*="icon-"]:hover {
    opacity: 1.0;
}
.card-view-content .card .title-section .icon-section [class*="icon-"] + [class*="icon-"] {
    margin-left: 8px;
}
.card .top-section {
    padding: 20px;
    cursor: pointer;
}
.card .card-content {
    padding: 0 20px 20px;
}
.card-view-content .card .top-section.active .title-section .icon-section .icon-down {
    transform: rotate(180deg);
}
.card-view-content .card .calc-label.medium {
    margin-bottom: 4px;
}
.card-view-content .card .calc-form {
    padding-left: 16px;
    margin-top: 20px;
}
.card-view-content .card .calc-form .calc-form-group {
    display: flex;
    margin-bottom: 20px;
}
.card-view-content .card .calc-form .calc-form-group > .calc-label {
    width: 180px;
    min-width: 180px;
    font-weight: 700;
    margin-top: 6px;
}
.card-view-content .card .calc-form .calc-form-group > .calc-label.unit {
    font-weight: 400;
    margin-left: 8px;
}
.card-view-content .card .calc-form .calc-form-group  .select-box1.small,
.card-view-content .card .calc-form .calc-form-group  .input-box1.small {
    width: 200px;
}
.card-view-content .card .calc-form .calc-form-group  .select-box1.medium {
    width: 360px;
}
.card-view-content .bottom-msg {
    background: var(--color-ui-ui12);
    color: var(--color-ui-ui04);
    padding: 16px;
    margin: 20px 16px 0;
}
.card-view-content .card .btn-group {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0;
    margin-top: 20px;
    height: auto;
    border-radius: 0;
    vertical-align: middle;
    border-top: 1px solid var(--ui-10);
}
.card-view-content .card .calc-form .calc-form-group .calc-label.info {
    margin-top: 4px;
}
.card-view-content .card .calc-form .calc-form-group .radio-container {
    display: flex;
    align-items: center;
    height: 32px;
}
.card-view-content .info-bottom-text {
    padding-top:12px;
    border-top:1px solid var(--ui-10);
}
.card-view-content .info-bottom-text li {
    padding-left: 8px;
    color: var(--ui-05);
    position: relative;
}
.card-view-content .info-bottom-text li:after {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background-color: var(--color-ui-ui04);
    position: absolute;
    top: 8px;
    left: 0;
}
/* 요금계산기 - 예상요금 */
.calc-section {
    min-width:360px;
    margin-left: 20px;
}
.cost-estimate {
    display: flex;
    flex-direction: column;
    /* width: 440px; */
    min-height:968px;
    /* height: 100%; */
    background: var(--ui-white);
    border-radius: 8px;
    border: 1px solid var(--ui-10);
}
.cost-estimate .calc-label.info {
    margin-top: 42px;
    text-align: right;
    color: var(--ui-white);
}
.cost-estimate .calc-label.info.excel {
    margin-top: 11px;
    color: var(--primary-tint-04);
}
.cost-estimate .estimated-fee {
    padding: 20px 24px;
    background: var(--color-primary-shade05);
    min-height: 170px;
    border-radius: 6px 6px 0 0;
}
.cost-estimate .estimated-fee .top-section {
    display: flex;
    justify-content: space-between;
}
.cost-estimate .estimated-fee .calc-label.large {
    color: var(--color-ui-ui12);
}
.cost-estimate .estimated-fee .top-section .radio-wrapper {
    margin: 0 0 0 20px;
}
.cost-estimate .estimated-fee .top-section .radio-wrapper label {
    color: var(--color-ui-ui12);
}
.cost-estimate .estimated-fee .bottom-section .calc-label.price {
    text-align: right;
}
.wrap-layer-popup[data-popup="sendEstimateMail"] .layer-popup-bottom [class*='btn-'] {
    width: auto;
}
/* 요금계산기 - 예상요금 - 제품리스트 */
.cost-estimate .card-list > .title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.cost-estimate .card-list > .title-section .button-group {
    display: flex;
    justify-content:space-between;
    width: calc(100% - 63px);
}
.cost-estimate .card-list {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    max-height: 730px;
}
.cost-estimate .card-list .empty-view {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.4;
}
.cost-estimate .card-list .empty-view .icon-empty {
    height: 40px;
    font-size: 40px;
    margin-bottom: 10px;
    fill: rgba(31, 37, 51, 0.6);;
}
.cost-estimate .card-list .card + .card {
    margin-top: 6px;
}
.cost-estimate .card-list .card {
    border: 1px solid var(--ui-10);
    border-radius: 8px;
    background-color: #ffffff;
}
.cost-estimate .card-list .card .top-section {
    display: flex;
    align-items: center;
    padding: 0 8px 0 16px;
}
.cost-estimate .card-list .card .title-section {
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    height: 64px;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
.cost-estimate .card-list .card .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cost-estimate .card-list .card .title-wrap + .icon-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: all .2s;
    cursor: pointer;
    margin-left: 10px;
    transform: rotate(-180deg);
}
.cost-estimate .card-list .card .active .title-wrap + .icon-down {
    transform: rotate(0);
}
.cost-estimate .card-list .card .top-section + .card-content {
    display: block;
    padding: 0 16px 20px;
    background-color: var(--ui-13);
}
.cost-estimate .card-list .card .card-content + .card-content {
    background-color: var(--ui-13);
}
.cost-estimate .card-list .card .card-content + .card-content .product-item {
    border-top: 1px solid var(--ui-10);
}
.cost-estimate .card-list .card .top-section.active + .card-content {
    display: none;
}
.cost-estimate .card-list .card .title-wrap .calc-label.medium,
.cost-estimate .card-list .card .title-wrap .calc-label.medium span {
    color: var(--color-primary);
    font-weight: 700;
}
.cost-estimate .card-list .card .card-content .product-item {
    padding: 8px 6px 0;
}
.cost-estimate .card-list .card .card-content .product-item .button-group {
    display: flex;
    justify-content: flex-end;
    margin: 14px 0 0 0 ;
}
.cost-estimate .card-list .card .card-content .product-item dl div {
    display: flex;
    padding: 6px 0;
}
.cost-estimate .card-list .card .card-content .product-item dl div dt.calc-label {
    flex: 0 0 120px;
    width: 120px;
    font-weight: 700;
}
/* .cost-estimate .card-list .card .card-content .product-item dl div .calc-label {
    line-height: 42px;
} */
.cost-estimate .card-list .card .card-content .product-item dl div .calc-label.price {
    font-size: 14px;
    color: var(--color-primary);
    line-height: 21px;
}
body .tablet-only {
    display: none;
}
.floating-snackbar {
    display: none;
}
body .mobile-only {
    display: none;
}
@media screen and (max-width: 1320px) {
    .cost-estimate {width:auto; min-height:auto;}
    .calc-edit {
        flex: 1 1 auto;
        flex-direction: column;
        width: 60%;
    }
    .calc-navi {
        width: 100%;
        height: auto;
    }
    .calc-section {min-width:auto;}
    .calc-card-view {
        min-width: auto;
        margin-top: 20px;
        margin-left: 0;
        padding: 0 20px;
    }
    .card-view-content .card {width: 100%;}
    .calc-card-view .total {font-size: 16px; line-height: 30px; font-weight: bold;}
    body .tablet-only {
        display: block;
    }
    body.Android .pc-only, body.iOS .pc-only, body .pc-only {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .card-view-content .card .calc-form {padding-left:0;}
    .card-view-content .card .calc-form .calc-form-group {flex-direction:column; margin-bottom:16px;}
    .card-view-content .card .calc-form .calc-form-group > .calc-label {margin-top:0; margin-bottom:2px;}
    .card-view-content .card .calc-form .calc-form-group .select-box1.small {width:100%;}
    .card-view-content .card .calc-form .calc-form-group .select-box1.medium {width:100%;}
}

@media screen and (max-width: 768px) {
    .calc-edit {width: 100%;}
    .cost-estimate {height:100%;}
    .cost-estimate .card-list {max-height:calc(100% - 358px);}
    .calulator .footer-margin {margin-top:40px;}
    [class*='calc-label'].xlarge {font-size:16px; line-height:24px;}
    .calulator .page-content {padding:0;}
    .card-view-content .card .calc-form {margin-top:0;}
    .intro-box.card-list-intro {padding-top:80px;}
    .disabled + .btn-wrap button {background-color: var(--primary-tint-04) !important;}
    button.btn-calc.btn-primary.big {
        margin-top:20px;
        width: 100%;
        height: 44px;
        background-color:var(--primary-color);
        border: 0;
        color: var(--ui-white);
        font-size: 16px;
        line-height: 24px;
    }
    .disabled button.btn-calc.btn-primary.big {
        color: var(--ui-white) !important;
        background-color: var(--primary-tint-04);
    }
    button.btn-calc {
        display:flex;
    }
    button.btn-switch {
        height: 44px;
        padding: 0 8px;
    }
    .calc-container {
        padding-top: 0;
    }
    .calc-card-view {
        min-width: 0;
        margin-bottom: 20px;
    }
    .card-view-content .card .calc-form {
        padding-left: 0;
    }
    .card-view-content .card .calc-form .calc-form-group {
        flex-direction: column;
    }
    .card-view-content .card .calc-form .calc-form-group > .calc-label {
        width: 100%;
        margin-bottom: 8px;
    }
    .card-view-content .card .calc-form .calc-form-group  .select-box1.small,
    .card-view-content .card .calc-form .calc-form-group  .select-box1.medium,
    .card-view-content .card .calc-form .calc-form-group  .input-box1.small {
        width: 100%;
    }
    .cost-estimate .card-list > .title-section {
        align-items: flex-start;
        margin-bottom: 12px;
    }
    .cost-estimate .card-list > .title-section .button-group button.btn-calc {
        min-width: 0;
    }
    .cost-estimate .card-list .card .card-content .product-item {
        padding: 16px 0 8px;
    }
    .cost-estimate .card-list .card .card-content .product-item dl div dt.calc-label {
        flex: 0 0 auto;
    }
    .cost-estimate .card-list .card .card-content .product-item dl div .calc-label {
        line-height: 24px;
    }
    body .mobile-only {
        display: block;
    }
    .calc-container {
        flex-direction: column;
        min-height: 0;
    }
    .calc-section {
        display: none;
        width: 100%;
        height: 100%;
        margin-left: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
    }
    .cost-estimate {
        width: 100%;
        border-radius: 0;
    }
    .cost-estimate .estimated-fee {
        border-radius: 0;
    }
    .cost-estimate .card-list {
        overflow-x: hidden;
        overflow-y: auto;
        -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;  /* Hide scrollbar for Firefox */
    }
    .cost-estimate .card-list::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
    .cost-estimate .estimated-fee .top-section {
        flex-direction: column;
    }
    .cost-estimate .estimated-fee .top-section .title-section {
        display: flex;
        justify-content: space-between;
    }
    .cost-estimate .estimated-fee .top-section .title-section .icon-close {
        height: 24px;
        cursor: pointer;
        transform: rotate(-180deg);
    }
    .cost-estimate .estimated-fee .calc-label.large {
        margin-bottom: 10px;
    }
    .cost-estimate .estimated-fee .top-section .radio-wrapper:first-child {
        margin-left: 0;
    }
    /* Snackbar */
    .floating-snackbar {
        display: block;
        position: fixed;
        bottom: 10px;
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
        z-index: 20;
    }
    .estimated-fee-mobile {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        padding: 16px 24px;
        background: var(--color-primary-shade05);
        border-radius: 37px;
        cursor: pointer;
        box-shadow: 0 2px 10px rgba(31, 37, 51, 0.6);
    }
    .floating-snackbar .estimated-fee-mobile .bill-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 34px);
    }
    .floating-snackbar .estimated-fee-mobile .icon-section {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .floating-snackbar .estimated-fee-mobile .icon-section .icon-down {
        width: 24px;
        height: 24px;
    }
    .floating-snackbar .estimated-fee-mobile .bill-section .calc-label {
        color: var(--color-ui-ui12);
        line-height: 20px;
    }
    .floating-snackbar .estimated-fee-mobile .bill-section .calc-label.info {
        color: var(--color-ui-ui06);
        font-size: 12px;
        text-align: right;
    }
    .floating-snackbar .estimated-fee-mobile .bill-section .calc-label.price {
        font-size: 20px;
        line-height: 42px;
    }
    .calc-snackbar {
        margin-bottom: 10px;
        padding: 16px 24px;
        background: var(--ui-01);
        box-shadow: 0 2px 10px rgba(31, 37, 51, 0.6);
        border-radius: 6px;
    }
    .calc-snackbar .calc-label {
        color: var(--color-ui-ui12);
    }
}