// font
$KR-font: 'NotoSansKR';
$EN-font: 'NunitoSans';

// color
$color-black: #000;
$color-white: #fff;
$color-red: #f00;
$color-point-01: #3f4;
$color-point-02: #6fd400;
$color-gray-01: #333;
$color-gray-02: #737373;
$color-gray-03: #767676;
$color-gray-04: #bbb;
$color-hover: #f8f8f8;
$color-line-01: #555;
$color-line-02: rgb(3, 3, 3);
$color-line-03: #eee;
$color-line-04: #8d9299;

// reponsive
$break_point_mo: 768px;
$break_point_tablet: 1439px;
