/*Layout*/
body {
  min-width: 1094px;
}

.cms-header {
  width: 100vw;
  height: 80px;
  background: #333d6e;
  border-bottom: 4px solid #c3c3c3;
}

.cms-header .cms-title-site {
  position: absolute;
  left: 24px;
  top: 13px;
  width: 158px;
  height: 48px;
  overflow: hidden;
  text-indent: -1000px;
  background: url(../img/cms/cms_img_logo.svg) no-repeat 50%;
}

.cms-header .cms-navigation-global {
  padding: 20px 0 0 272px;
}

.cms-header .cms-navigation-global button {
  display: inline-block;
  position: relative;
  margin: 0 0 0 30px;
  padding: 0 8px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.cms-header .cms-navigation-global button:first-child {
  margin: 0;
}

.cms-header .cms-navigation-global button:hover::after {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  bottom: 0;
  right: 8px;
  height: 2px;
  background: #fff;
}

.cms-header .cms-navigation-global button.active {
  color: #fec867;
}

.cms-header .cms-navigation-global button.active::after {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  bottom: 0;
  right: 8px;
  height: 2px;
  background: #fec867;
}

.cms-header .cms-util {
  position: absolute;
  right: 0;
  top: 0;
  height: 76px;
  text-align: right;
  vertical-align: middle;
}

.cms-header .cms-util .cms-box-drpdown {
  display: inline-block;
  margin-top: 24px;
  vertical-align: top;
}

.cms-header .cms-util .cms-btn-logout {
  position: relative;
  display: inline-block;
  margin: 24px 32px 0 17px;
  height: 30px;
  letter-spacing: -0.45px;
  color: #fff;
  vertical-align: top;
  overflow: visible;
}

.cms-header .cms-util .cms-btn-logout::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: url(../img/cms/cms_btn_logout.svg) no-repeat 50%;
}

.cms-header .cms-util .cms-btn-logout::after {
  content: '';
  display: block;
  position: absolute;
  left: -18px;
  top: 7px;
  width: 1px;
  height: 16px;
  background: rgba(228, 233, 242, 0.3);
}

.cms-header .cms-util .cms-link-home {
  display: inline-block;
  width: 144px;
  height: 76px;
  vertical-align: top;
  text-align: center;
  line-height: 76px;
  background: #4f68ca;
}

.cms-header .cms-util .cms-link-home a {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.45px;
  color: #fff;
}

.cms-header .cms-util .cms-link-home a::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url(../img/cms/cms_ico_home.svg) no-repeat 50%;
}

.cms-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100vw;
  height: calc(100vh - 80px);
}

.cms-aside {
  padding: 32px 0;
  width: 239px;
  border-right: 1px solid #e8e8e8;
}

.cms-aside .cms-title-depth {
  margin: 0 16px;
  padding: 0 0 29px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.96px;
  border-bottom: 1px solid #1d1d1d;
}

.cms-aside .cms-navigation-local {
  overflow: auto;
  padding: 0 16px;
  height: calc(100vh - 178px);
}

.cms-aside .cms-navigation-local::-webkit-scrollbar {
  width: 13px;
}

.cms-aside .cms-navigation-local::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 13px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.cms-aside .cms-navigation-local::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.cms-aside .cms-navigation-local > ul > li {
  border-bottom: 1px solid #ededed;
}

.cms-aside .cms-navigation-local > ul > li > button, .cms-aside .cms-navigation-local > ul > li > a {
  display: block;
  padding: 0 8px;
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #5a5a5a;
  text-underline-offset: 2px;
}

.cms-aside .cms-navigation-local > ul > li > button.cms-ondepth, .cms-aside .cms-navigation-local > ul > li > a.cms-ondepth {
  background: url(../img/cms/cms_navigation_depth_on.svg) no-repeat;
  background-position: right 4px top 15px;
}

.cms-aside .cms-navigation-local > ul > li > button:hover, .cms-aside .cms-navigation-local > ul > li > a:hover {
  text-decoration: underline;
}

.cms-aside .cms-navigation-local > ul > li ul {
  padding: 0 24px;
  height: 0;
  overflow: hidden;
  background: #f7f7f7;
}

.cms-aside .cms-navigation-local > ul > li ul li {
  margin-top: 8px;
  border: none;
}

.cms-aside .cms-navigation-local > ul > li ul li button, .cms-aside .cms-navigation-local > ul > li ul li a {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #868686;
}

.cms-aside .cms-navigation-local > ul > li ul li button:hover, .cms-aside .cms-navigation-local > ul > li ul li a:hover {
  text-decoration: underline;
}

.cms-aside .cms-navigation-local > ul > li ul li:first-child {
  margin-top: 16px;
}

.cms-aside .cms-navigation-local > ul > li ul li:last-child {
  margin-bottom: 24px;
}

.cms-aside .cms-navigation-local > ul > li.active .cms-ondepth {
  color: #4d73f4;
  font-weight: 700;
  background: url(../img/cms/cms_navigation_depth.svg) no-repeat;
  background-position: right 4px top 15px;
}

.cms-aside .cms-navigation-local > ul > li.active ul {
  height: auto;
}

.cms-aside .cms-navigation-local > ul > li.active ul li.active button, .cms-aside .cms-navigation-local > ul > li.active ul li.active a {
  font-weight: 700;
  color: #1d1d1d;
  text-underline-offset: 2px;
}

.cms-content {
  position: relative;
  padding: 28px 25px 0;
  width: calc(100vw - 240px);
  height: calc(100vh - 112px);
  overflow: auto;
  background: #f7f7f7;
}

.cms-content::-webkit-scrollbar {
  width: 13px;
}

.cms-content::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 13px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.cms-content::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.cms-content .cms-box-location {
  position: absolute;
  right: 24px;
  top: 34px;
}

.cms-content .cms-box-location button {
  font-size: 14px;
  line-height: 27px;
  color: #63697c;
  text-underline-offset: 2px;
}

.cms-content .cms-box-location button::before {
  content: '>';
  display: inline-block;
  margin: 0 10px;
}

.cms-content .cms-box-location button:hover {
  text-decoration: underline;
}

.cms-content .cms-box-location .home {
  display: inline-block;
  margin-bottom: -2px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -1000px;
  background: url(../img/cms/cms_img_location_home.svg) no-repeat 50%;
}

.cms-content .cms-box-location .current {
  font-size: 14px;
  line-height: 27px;
  color: #1d1d1d;
  font-weight: 500;
}

.cms-content .cms-box-location .current::before {
  content: '>';
  display: inline-block;
  margin: 0 10px;
}

.cms-content .cms-title-content {
  font-size: 32px;
  letter-spacing: -0.96px;
  line-height: 130%;
  color: #1d1d1d;
  font-weight: 700;
}

.cms-content .cms-section {
  margin-top: 8px;
  padding: 32px 32px 40px;
  background: #fff;
  border: 1px solid #e8e8e8;
}

.cms-content .form-sec.head-option {
  margin: 24px 0;
}

.cms-content .cms-copyright {
  padding: 0 16px;
  height: 64px;
  line-height: 64px;
  font-size: 11px;
  color: #868686;
}

.cms-content .cms-content-wrap {
  position: relative;
  margin-top: 26px;
  padding: 0;
  min-height: calc(100vh - 218px);
}

.cms-content .cms-content-wrap.aside-open {
  padding: 0 0 0 247px;
}

.cms-content .cms-content-wrap.aside-open .cms-box-aside {
  display: block;
}

.cms-content .cms-content-wrap.aside-open .cms-btn-asideopen {
  display: none;
}

.cms-content .cms-content-wrap.aside-close {
  padding: 0 0 0 0;
}

.cms-content .cms-content-wrap.aside-close .cms-box-aside {
  display: none;
}

.cms-content .cms-content-wrap.aside-close .cms-btn-asideopen {
  display: block;
}

.cms-content .cms-content-wrap .cms-box-aside {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0;
  width: 238px;
  border: 1px solid #e8e8e8;
  background: #fff;
}

.cms-content .cms-content-wrap .cms-box-aside .cms-title {
  padding: 15px 19px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.72px;
  color: #414141;
  background: #fbfbfb;
}

.cms-content .cms-content-wrap .cms-box-aside .tree-wrap {
  background: #fbfbfb;
}

.cms-content .cms-content-wrap .cms-box-aside .tree-wrap .tree-con {
  border-top: 1px solid #ededed;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cms-content .cms-content-wrap .cms-box-aside .list-search-con {
  display: block;
  margin: 0 15px 0 15px;
  padding: 0 0 16px 0;
  width: auto;
  height: auto;
}

.cms-content .cms-content-wrap .cms-box-aside .list-search-con label {
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.cms-content .cms-content-wrap .cms-box-aside .list-search-con input {
  height: 40px !important;
}

.cms-content .cms-content-wrap .cms-box-aside .list-search-con .search-btn {
  width: 30px;
  height: 38px;
  right: 5px;
}

.cms-content .cms-content-wrap .cms-box-aside .tree-wrap .list-search-con input {
  border: none;
}

.cms-content .cms-content-wrap .cms-box-aside .list-search-con .clear-btn-con .clear-btn {
  top: 10px;
}

.cms-content .cms-content-wrap .cms-box-aside .box-button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 13px;
}

.cms-content .cms-content-wrap .cms-box-aside .box-button .add-group {
  width: 100%;
  height: 40px;
  font-size: 15px;
  color: #fff;
  background: #4f68ca;
}

.cms-content .cms-content-wrap .cms-box-aside .box-button .add-group:hover {
  background-color: #314699;
}

.cms-content .cms-content-wrap .cms-btn-asideclose {
  position: absolute;
  right: 11px;
  top: 14px;
  width: 32px;
  height: 32px;
  text-indent: -1000px;
  overflow: hidden;
  background: url(../img/cms/btn_aside_close.svg) no-repeat 50%;
}

.cms-content .cms-content-wrap .cms-btn-asideopen {
  position: absolute;
  left: -20px;
  top: 59px;
  overflow: hidden;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  text-indent: -1000px;
  overflow: hidden;
  background: url(../img/cms/btn_aside_open.svg) no-repeat 50%;
}

.cms-content .cms-content-wrap .tree-con {
  position: absolute;
  left: 0;
  right: 0;
  top: 121px;
  bottom: 70px;
  margin: 0;
  padding: 0;
  max-height: none;
  height: auto;
  border-radius: 0;
}

.cms-content .cms-content-wrap .tree-con::-webkit-scrollbar {
  width: 13px;
}

.cms-content .cms-content-wrap .tree-con::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 13px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.cms-content .cms-content-wrap .tree-con::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.cms-box-button-action {
  position: absolute;
  right: 30px;
  bottom: -52px;
}

.cms-contain-login {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/cms/cms_background_login.png) no-repeat 50%;
  background-size: cover;
}

.cms-contain-login .cms-inner-login {
  margin: -116px 0 0 0;
}

.cms-contain-login .cms-inner-login .cms-title {
  margin: 0 auto 60px;
  width: 184px;
  height: 56px;
  overflow: hidden;
  text-indent: -100000px;
  background: url(../img/cms/cms_img_logo.svg) no-repeat 50%;
  background-size: 184px 56px;
}

.cms-contain-login .cms-inner-login .cms-contain-formbox {
  padding: 47px 60px;
  width: 596px;
  height: 318px;
  background: #fff;
  border-radius: 8px;
}

.cms-contain-login .cms-inner-login .cms-contain-formbox .title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -1.12px;
  color: #1d1d1d;
}

.cms-contain-login .cms-inner-login .cms-contain-formbox .cms-box-login {
  position: relative;
  margin-bottom: 20px;
}

.cms-contain-login .cms-inner-login .cms-contain-formbox .cms-box-login label {
  display: block;
}

.cms-contain-login .cms-inner-login .cms-contain-formbox .cms-box-login input[type=text],
.cms-contain-login .cms-inner-login .cms-contain-formbox .cms-box-login input[type=password] {
  display: block;
  padding: 0 20px;
  width: 340px;
  height: 60px;
  font-size: 17px;
  background: #f4f7fa;
  border: none;
  border-radius: 0;
  outline: none;
}

.cms-contain-login .cms-inner-login .cms-contain-formbox .cms-box-login .cms-form-id {
  margin: 0 0 2px 0;
}

.cms-contain-login .cms-inner-login .cms-contain-formbox .cms-box-login .cms-btn-login {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 120px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.34px;
  color: #fff;
  background: #4f68ca;
  border-radius: 5px;
}

.cms-contain-login .cms-inner-login .cms-contain-formbox .cms-util .cms-form-checkbox {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #1d1d1d;
}

.cms-main::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 128px;
  margin: 0 0 0 -744px;
  width: 664px;
  height: 140px;
  background: url(../img/cms/cms_img_main.svg) no-repeat 50%;
}

.cms-main .cms-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  min-width: 1394px;
}

.cms-main .cms-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 155px auto 0;
  width: 1344px;
  height: auto;
  background: none;
}

.cms-main .cms-content .cms-article1 {
  width: 50%;
  height: 315px;
}

.cms-main .cms-content .cms-article1 .text-date {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.6px;
  color: #4a5dc6;
}

.cms-main .cms-content .cms-article1 .text-infor-member {
  margin-bottom: 40px;
  font-size: 44px;
  line-height: 26px;
  letter-spacing: -1.32px;
  color: #1d1d1d;
  font-weight: 300;
}

.cms-main .cms-content .cms-article1 .list-infor li {
  margin: 6px 0;
  padding: 0 0 0 22px;
  font-size: 16px;
  line-height: 24px;
  color: #414141;
  background: url(../img/cms/cms_img_bullet_arrow.svg) no-repeat left 0px top 3px;
}

.cms-main .cms-content .cms-article2 {
  width: 648px;
  height: 315px;
}

.cms-main .cms-content .cms-article2 .title {
  padding: 0 0 10px 29px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
  color: #1d1d1d;
  border-bottom: 2px solid #2e3a59;
  background: url(../img/cms/cms_ico_notice.svg) no-repeat left top;
}

.cms-main .cms-content .cms-article2 .list-notice li {
  padding: 6px 12px;
  border-bottom: 1px solid #e8e8e8;
}

.cms-main .cms-content .cms-article2 .list-notice li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.45px;
  color: #414141;
}

.cms-main .cms-content .cms-article2 .list-notice li a span {
  line-height: 36px;
}

.cms-main .cms-content .cms-article2 .list-notice li a .date {
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #868686;
  font-family: 'roboto';
}

.cms-main .cms-content .cms-article2 .list-notice li a:hover span:first-child {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.cms-main .cms-content .cms-article2 .list-notice li.notice a {
  color: #dc344a;
}

.cms-main .cms-content .cms-article3 {
  width: 100%;
}

.cms-main .cms-content .cms-article3 .title {
  margin-bottom: 12px;
  padding: 0 0 0 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.54px;
  color: #1d1d1d;
  background: url(../img/cms/cms_ico_board.svg) no-repeat left top;
}

.cms-main .cms-content .cms-article3 .contain-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 34px 44px 36px 44px;
  background: #4f68ca;
  -webkit-box-shadow: 0 10px 16px 0 rgba(79, 104, 202, 0.28);
          box-shadow: 0 10px 16px 0 rgba(79, 104, 202, 0.28);
}

.cms-main .cms-content .cms-article3 .contain-dashboard a {
  display: block;
  position: relative;
  height: 150px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a::after {
  content: none;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a::after {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(232, 232, 232, 0.16);
}

.cms-main .cms-content .cms-article3 .contain-dashboard a::after {
  content: none;
  display: block;
  position: absolute;
  left: -41px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(232, 232, 232, 0.16);
}

.cms-main .cms-content .cms-article3 .contain-dashboard dl {
  position: relative;
  width: 295px;
  height: 150px;
  background: url(../img/cms/cms_ico_board1.svg) no-repeat left 0 bottom 16px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard dl dt {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
  letter-spacing: -0.88px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard dl dd {
  position: absolute;
  right: 47px;
  bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  color: #fff;
}

.cms-main .cms-content .cms-article3 .contain-dashboard dl dd strong {
  display: inline-block;
  margin-right: 5px;
  font-size: 54px;
  font-family: 'roboto';
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a dl {
  width: 293px;
  margin-left: 41px;
  background: url(../img/cms/cms_ico_board2.svg) no-repeat left 0 bottom 16px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a dl dd {
  right: 45px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a + a dl {
  width: 290px;
  margin-left: 43px;
  background: url(../img/cms/cms_ico_board3.svg) no-repeat left 0 bottom 16px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a + a dl:after {
  left: -42px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a + a dl dd {
  right: 41px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a + a + a dl {
  width: 248px;
  margin-left: 46px;
  background: url(../img/cms/cms_ico_board4.svg) no-repeat left 0 bottom 16px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a + a + a dl:after {
  left: -46px;
}

.cms-main .cms-content .cms-article3 .contain-dashboard a + a + a + a dl dd {
  right: 0;
}

.cms-main .cms-content .cms-copyright {
  position: static;
  margin-top: 76px;
  width: 100%;
  text-align: center;
}

.cms-information-type1 {
  padding: 16px 0;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.64px;
  color: #414141;
}

.cms-box-drpdown.dropdown-wrap .cms-title-item.current-item {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background: url(../img/cms/cms_ico_drapdown.svg) no-repeat right 50%;
}

.formbox-inbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formbox-inbutton > * {
  margin-left: 6px;
  vertical-align: middle;
}

.formbox-inbutton > *:first-child {
  margin-left: 0;
}

.formbox-inbutton > input {
  width: 100%;
}

.formbox-inbutton input[type=button][class^=btn], .formbox-inbutton button[class^=btn], .formbox-inbutton a[class^=btn], .formbox-inbutton label[class^=btn] {
  min-width: auto;
  white-space: nowrap;
  overflow: visible;
}

.filter-wrap {
  background: #fff;
  border-width: 1px;
}

.bar-division-inline {
  display: inline-block;
  margin-left: 8px;
  width: 0;
  height: 14px;
  border-right: 1px solid #f7f7f7;
}

.table-detail .clear-btn-con {
  width: 100%;
}

.table-foot .right-con button {
  margin-left: 5px;
}

.table-list input[type=button][class^=btn], .table-list button[class^=btn], .table-list a[class^=btn], .table-list label[class^=btn] {
  margin-left: 3px;
}

input[type=button][class^=btn-solid].medium, button[class^=btn].medium, a[class^=btn].medium, label[class^=btn].medium {
  font-size: 15px;
}

input[type=button][class^=btn-solid].medium, button[class^=btn-solid].medium, a[class^=btn-solid].medium, label[class^=btn-solid].medium {
  height: 40px;
  font-size: 15px;
  color: #fff;
  background: #4f68ca;
  border: none;
}

.list-bullet > li:before {
  content: none;
}

.sec-head h4 {
  margin-bottom: 6px;
}

.required {
  text-indent: 0;
  font-size: 12px;
  color: #dc3636;
  background: none;
}

.required:before {
  content: none;
}
/*# sourceMappingURL=cms.css.map */